nav ul {
    display: flex;
    background: #EEEEEE;
    justify-content: center;
}
nav ul li {
    list-style:none;
    margin-left: 14px;
    font-size: 1.5rem;
    font-weight: 800;
    color: #000;
}

.bulboff{
    background-image:url('pic_bulboff.gif');
    height: 200px;
    background-repeat: no-repeat;
}
.bulbon{
    background-image:url('pic_bulbon.gif');
    height: 200px;
    background-repeat: no-repeat;
}
